# LINE Messaging API Credentials
# Get from: https://developers.line.biz/console/
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_CHANNEL_SECRET=your_line_channel_secret

# Azure Document Intelligence
# Get from: https://portal.azure.com/ -> Document Intelligence resource
AZURE_DOC_INTEL_ENDPOINT=https://your-resource-name.cognitiveservices.azure.com/
AZURE_DOC_INTEL_KEY=your_azure_document_intelligence_key
